/*Importamos fuente especificada en el ejercicio*/
.bai-jamjuree-extralight {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/*Para suavizar el scroll de los enlaces internos*/
html {
    scroll-behavior: smooth;
}

p {
    color: hsl(201, 11%, 66%);
}

a {
    color:inherit;
    text-decoration: none;
}

h1, h2, h3 {
   color: hsl(210, 10%, 33%);
}

h4 {
    color: hsl(220, 3%, 35%);
}
body {
    /*En esta linea permitimos que el padding y borde de un elemento se incluyan en su dimension*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    Font-size: 18px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem;
}



.logo-section {
   display: flex;
   width: 100%;
   background-image: url(./assets/bg-header-desktop.png);
   justify-content: center;
}

.logo-section img {
    padding: 8rem 0 4rem 0;
}

.btn {
    border-radius: 20px;
    color: whitesmoke;
    padding: 1rem;
    border: none;
    font-weight: 600;
    margin: 2rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: 0.3s;
}
.btn:hover {
    background-color: hsl(0, 0%, 0%);
    transform: scale(1.2);
}

.Ios {
    background-color: hsl(171, 66%, 44%);
}

.Mac {
    background-color: hsl(233, 100%, 69%);
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.title{
    margin: 4rem 0 4rem 0;
    text-align: center;
    width: 50%;
}

.flex-container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    margin: 0;
    padding: 0;
    gap: 8rem;
}

.image-div {
    display: flex;
    justify-content: flex-start;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.access {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0 4rem 0;
    align-items: center;
}

.access img {
    margin: 5rem 0 0 0;
}

.workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.title-workflow {
    text-align: center;
    margin: 4rem 0 4rem 0;
}

/*Aca implementamos grid, 3 columnas de una fraccion cada uno*/
.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 70%;
    margin: 2rem;
    text-align: center  ;
}

.partners {
    display: flex;
    justify-content: space-around;
    margin: 8rem 0 8rem 0;
}

.partners img {
    object-fit: contain;
}

.callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 4rem 0;
}

footer {
    background-color: hsl(180, 2%, 90%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-image {
    width: 70px;
}

.image-container img:hover {
    scale: 1.3;
    cursor: pointer;
}

/*Resolcion para tablets. Algunas secciones se dejan como en descktop, por ej el grid. se centran los textos de y se centran los elementos de columna*/
@media (max-width: 1024px) {

    .flex-container1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   .image-div {
        width: 100%;
        max-width: 700px;
    }

    .image-devices {
        width: 100%;
        max-width: 700px;
    }

    .callToAction {
        text-align: center;
        padding: 2rem;
    }
   
}

/* Resolución para pantalla, guiandonos de la imagen de referencia dejamos la mayoria de las estructuras en display column. ajustamos los tamaños de las img a un max de 500px*/
@media (max-width: 768px) {
   

    .flex-container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-container {
        align-items: center;
        text-align: center;
    }

    .btn {
        margin: 0;

    }
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .image-div img {
        width: 100%;
        max-width: 500px;
    }

    .grid-container1 {
        grid-template-columns: 1fr;
    }

    .partners {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        text-align: center;
    }

}